@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 114, 119, 120;
  --background-end-rgb: 155, 155, 155;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background: linear-gradient(to right, #b9c9d9, rgb(249, 246, 246));
    /* background: linear-gradient(to right, #ff9a9e, #fad0c4); */
    /* background: linear-gradient(to right, #a1c4fd, #d9e9f0); */
    /* background: linear-gradient(to right, #ffecd2, #fcb69f); */
    /* background: linear-gradient(to right, #2c3e50, #bdc3c7); */






}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
